html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
.news{
    padding: 0.15rem;
}
.news_read h2{
   font-size: 0.13rem;
}
.news_read a{
    overflow : hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
section{
    flex:1
}