html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}

section{
    flex:1
}
.medicine_main{
    padding: 0.15rem;
    display: flex;
    flex-wrap: wrap;
}
.medicine_main .medicine_list{
    width: 50%;
    height: 2.05rem;
    /* background: #f7f7fa */

}
.medicine_main .medicine_list a{
    display: block;
    width: 100%;
    height: 100%;
    background: #f7f7fa;
}
.medicine_main .medicine_list img{
    width: 1.68rem;
    height: 1.68rem;
}
.medicine_main .medicine_list span{
    display:block;
    width: 1.68rem;
    text-align: center;
    font-size: 0.12rem;
    color: #000;
    background: #ffffff;
}
.medicine_main .medicine_list:nth-child(2n) img{
    padding-left: 0.05rem;
}
.medicine_main .medicine_list:nth-child(2n) img+span{
    position: relative;
    right: -0.05rem;
}
.medicine_main .medicine_list:nth-child(2n+1) img{
    padding-right: 0.05rem;
}